{% extends 'music/base.html' %}

<!-- This is again the old way we used to handle the details page in case -->

{% comment %} {% block title %} Album Details {% endblock %}

{% block body %}
    <h1>{{ album.album_title }}</h1>
    <h2>{{ album.artist }}</h2>


    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                 {% if song.is_favourite %}
                    <img src="http://i.imgur.com/b9b13Rd.png"/>
                 {% endif %}
            </label><br>
        {% endfor %}
        <input type="submit" value="Favourite">
    </form>
{% endblock %}{% endcomment %}



<!-- Below is the new way we structure our form, which is a lot less code -->


{% block title %} Album Details {% endblock %}

{% block body %}
    <h1>{{ album.album_title }}</h1>
    <h2>{{ album.artist }}</h2>

        {% for song in album.song_set.all %}
                {{ song.song_title }}
                 {% if song.is_favourite %}
                    <img src="http://i.imgur.com/b9b13Rd.png"/>
                 {% endif %}
                 <br>
        {% endfor %}

{% endblock %}
