{% extends 'music/base.html' %}

<!-- This is the piece of code we used to use when we use functions in our views .
     We can do this in more cleaner way using below -->

{% comment %}{% block body %}
{% if all_albums %}
    <h3> Here are all my albums</h3>
    <ul>
         {% for album in all_albums %}
             <li><a href="{% url 'music:detail'  album.id %}"> {{ album.album_title }}</a></li>
         {% endfor %}
    </ul>
 {% else %}
    <h3> No Album present</h3>
 {% endif %}
{% endblock %}{% endcomment %}


{% block body %}

        <ul>
             {% for album in all_albums %}
                 <li><a href="{% url 'music:detail'  album.id %}"> {{ album.album_title }}</a></li>
             {% endfor %}
        </ul>

{% endblock %}